@import "tailwindcss";
@media (max-width: 480px) {
  .Toastify__toast-container--top-right {
    right: 1rem !important;
    left: auto !important;
  }

  /* Toast overall box */
  .Toastify__toast {
    font-size: 10px !important;
    margin: 2px 0 !important;
    padding: 2px 6px !important;
    width: auto !important;
    height: 24px !important; /* thoda realistic */
    line-height: 1 !important;
    display: flex !important;
    align-items: center !important;
    min-height: unset !important;
    box-sizing: border-box;
  }

  /* Toast body (text content) */
  .Toastify__toast-body {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1 !important;
    display: flex;
    align-items: center;
  }

  /* Icon inside toast */
  .Toastify__toast-icon {
    width: 10px !important;
    height: 10px !important;
    margin-right: 6px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Close button */
  .Toastify__close-button {
    width: 16px !important;
    height: 16px !important;
    font-size: 10px !important;
    padding: 0 !important;
    margin-left: 4px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .Toastify__toast-container--top-right {
    right: 1rem !important;
    left: auto !important;
    /* max-width: 320px !important; */
  }

  .Toastify__toast {
    width: 100% !important;
    /* max-width: 320px !important; */
    font-size: 15px;
    margin: 0.5rem 0 !important;
  }
}





